.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .thumbnails img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
  }
  
  .main-image img {
    width: 400px;
    height: 400px;
  }
  